* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --yellow-bg: #fbffa7;
  --orange-title: #ff764d;
  --aqua-bg: #b1c5ff;
  --purple-bg: #d5b3ff;
  --green-bg: #b6ffc0;
  --blue-color: #0000ff;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.logo img {
  width: 70px;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #ccc;
  font-size: 17px;
}

.header-main a {
  text-decoration: none;
  color: black;
}

.header-main a:hover {
  color: var(--orange-title);
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-right button {
  border: none;
  background: transparent;
  font-size: 15px;
}

.header-right button:hover {
  color: var(--orange-title);
}

.right-links {
  display: flex;
  gap: 20px;
}

.header-left {
  display: flex;
  gap: 20px;
}

.header-left .live {
  color: var(--blue-color);
}

.dropdown {
  position: absolute;
  top: 115px;
  left: 0px;
  right: 0px;
  background-color: var(--aqua-bg);
  opacity: 0;
  transform: translateY(-10px);
  animation: dropdownFade 0.5s forwards ease;
  z-index: 9999;
}

.more-on-abelton {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.abelton-links {
  display: flex;
  justify-content: space-between;
}

.abelton-links a:hover {
  color: var(--orange-title);
}

.abelton-more-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more-from-abelton {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dropdown-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.content-main {
  padding: 20px;
}

.main-links {
  display: flex;
  gap: 20px;
}

.main-links a {
  color: black;
}

.main-links a:hover {
  color: var(--orange-title);
}

.about-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 20px;
}

.abelton-bg-img {
  display: flex;
  justify-content: center;
}

.abelton-bg-img img {
  width: 80%;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
}

.about-bg-images {
  display: flex;
  align-items: center;
  gap: 50px;
}

.img-w-bg {
  position: absolute;
  left: 300px;
}

.img-w-bg img {
  width: 400px;
}

.bg-img {
  background-color: var(--yellow-bg);
  margin-left: 350px;
}

.bg-img img {
  width: 550px;
  padding: 120px;
}

.about-video {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-bg-images2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 50px;
}

.img-w-bg2 img {
  width: 400px;
}

.bg-img2 {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.bg-img2 img {
  width: 400px;
}

.img-w-bg3 {
  display: flex;
  justify-content: center;
}

.img-w-bg3 img {
  width: 70%;
}

.about-bg-images4 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 20px;
}

.about-bg-images4 img {
  width: 80%;
}

.about-bg-images5 {
  display: flex;
}

.bg-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  background-color: var(--aqua-bg);
  width: 70%;
  padding: 50px;
}

.about-bg-images5 img {
  width: 70%;
}

.footer-main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-top: 1px solid #ccc;
  padding: 40px;
  font-size: 17px;
}

.footer-main a {
  color: black;
}

.footer-line1 {
  display: flex;
  gap: 120px;
}

.footer-regist-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social {
  display: flex;
  gap: 20px;
}

.education-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-signup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-signup input {
  width: 200px;
  padding: 8px;
  outline: none;
  border: 1px solid #ccc;
}

.footer-signup-input {
  display: flex;
}

.footer-signup button {
  width: 100px;
  background: transparent;
  border: none;
  background-color: var(--blue-color);
  color: white;
}

.footer-line2 {
  display: flex;
  gap: 120px;
}

.comunity-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lang-location {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-select {
  display: flex;
  gap: 5px;
}

.footer-select select {
  border: 1px solid #ccc;
  padding: 5px;
  outline: none;
}

.language {
  width: 100px;
}

.location {
  width: 150px;
}

.footer-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-links {
  display: flex;
  gap: 20px;
}

.made-in {
  display: flex;
  align-items: center;
  gap: 20px;
}

.main-page {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.mainpage-head img {
  height: 500px;
  width: 100%;
}

.mainpage-head-text {
  position: absolute;
  top: 200px;
  left: 200px;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mainpage-head-text a {
  font-size: 25px;
}

.mainpage-albums {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.album-main-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
}

.album-links {
  display: flex;
  gap: 20px;
}

.artist-album {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 17px;
  width: 350px;
}

.artist-album img {
  width: 350px;
}

.artist-name {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.artist-status p {
  background-color: rgb(255, 200, 0);
  width: 90px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainpage-artists {
  display: flex;
  justify-content: space-between;
}

.move-in-focus {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.move {
  display: flex;
  justify-content: space-between;
}

.learn-about-live {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.learn-live {
  display: flex;
  justify-content: space-between;
}

.mainpage-more {
  background-color: #e6e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  height: 100px;
}

.for-signup {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.interests {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.checkbox-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.checkbox {
  display: flex;
  gap: 20px;
}

.interests-save button {
  width: 70px;
  height: 30px;
  color: white;
  background-color: var(--blue-color);
  border: none;
}

.learn-more-main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.learnmore-hero img {
  width: 100%;
  height: auto;
}

.hero-text {
  position: absolute;
  top: 200px;
  left: 200px;
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-text button {
  border: none;
  background-color: var(--blue-color);
  color: white;
  width: 170px;
  height: 40px;
}

.learnmore-music {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.learnmore-livesuite {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.learnmore-livesuite img {
  width: 30%;
}

.livesuit-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.how-it-works {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.choose-rentto-own {
  padding: 20px;
}

.choose-rentto-own img {
  width: 100%;
}

.panel {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
}

.panel h1 {
  font-size: 20px;
}

.collapsible-panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.learnmore-lastpic {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 20px;
}

.learnmore-lastpic-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 17px;
}

.p-with-bg {
  background-color: var(--purple-bg);
}

.learnmore-lastpic p {
  font-size: 18px;
  padding: 10px;
}

.learnmore-lastpic img {
  width: 60%;
}

.live-main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.live-hero video {
  width: 100%;
}

.live-hero-text {
  position: absolute;
  top: 300px;
  left: 200px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.live-hero-text b {
  background-color: white;
  border-radius: 50px;
  padding: 5px;
  color: black;
}

.live-hero-text button {
  border: none;
  background-color: var(--blue-color);
  color: white;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 17px;
}

.live-hero-text h1 {
  font-size: 60px;
}

.live-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 40px;
  font-size: 17px;
}

.live-text-bground {
  display: flex;
  justify-content: center;
  align-items: center;
}

.live-text-bg {
  background-color: var(--green-bg);
  width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 80px;
  font-size: 25px;
  height: 300px;
}

.live-video-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.live-video iframe {
  width: 1000px;
  height: 500px;
}

.live-possible {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.live-possible p {
  display: flex;
  gap: 20px;
}

.live-ideas {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 80px;
}

.ideas-title {
  font-size: 30px;
}

.live-ideas-main {
  width: 100vw;
  background-color: var(--green-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ideas-video {
  display: flex;
  flex-direction: column;
}

.ideas-textes {
  display: flex;
  gap: 50px;
  padding: 20px;
  font-size: 18px;
}

.reshape-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ideas-picture-text {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 60px;
  margin-left: 30%;
}

.ideas-picture-text img {
  width: 50%;
}

.pic-text {
  font-size: 18px;
}

.ideas-video-txt {
  padding: 20px;
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 50px;
}

.all-video-text {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.live-instruments {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.instrument-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
}

.instrument-main p {
  font-size: 18px;
}

.instrument-main img {
  width: 500px;
}

.allposts-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px;
}

.allposts-title {
  font-size: 20px;
}

.all-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  padding: 20px;
}

.news-status {
  background-color: var(--purple-bg);
  width: 60px;
  text-align: center;
  padding: 5px;
}

.jobs-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.jobs-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.jobs-text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.jobs-finance {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 40px;
}

.jobs-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jobs-pic img {
  width: 70%;
}

.Apprenticeships-main {
  padding: 80px;
}

.Apprenticeships-text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.Apprenticeships-text img {
  width: 50%;
}

.push-hero-text {
  position: absolute;
  top: 300px;
  left: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.push-hero-text h1 {
  color: var(--green-bg);
  font-size: 85px;
}

.push-hero-text p {
  color: white;
  font-size: 25px;
}

.push-hero-text button {
  width: 150px;
  padding: 10px;
  background-color: var(--blue-color);
  border: none;
  color: white;
}

.push-videos-div {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px;
  background-color: rgb(6, 6, 51);
  color: white;
  width: 100vw;
}

.push-focus-txt {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 20px;
}

.push-videos {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100vw;
}

.push-video {
  display: flex;
  gap: 50px;
  align-items: center;
}

.push-video p {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 17px;
}

.push-videos video {
  width: 40%;
  display: flex;
}

.login-reg-main {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.login-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-txt {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 17px;
}

.login-txt h1 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
}

.login-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.email-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.email-input input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  outline: none;
}

.password-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pass-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  outline: none;
}

.showpass {
  display: flex;
  gap: 10px;
}

.login-btn button {
  width: 100px;
  height: 35px;
  border: none;
  background-color: var(--blue-color);
  color: white;
}

.f-name {
  color: var(--blue-color);
}

.register-select select {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  outline: none;
}

.signup-checkbox{
  display: flex;
  align-items: start;
  gap: 10px;
  text-align: start;
}

@keyframes dropdownFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}